body {
	background-color:#1A1A1A;
	//color:#B3B3B3;	
	margin: 0;
	padding: 0;
	font-family: monospace;
	display: -webkit-flex;
	display: -moz-flex;
  	display: flex;
	
	
}

#iconside {
	position: absolute;
	width: 50;
	height: 100%;
	background-color: #2D2D2D;
}

#navside {
	position: absolute;
	margin-left: 50;
	width: 150;
	height: 100%;
	background-color: #212122;	
}

.icon {
	position: relative;
	top: 8;
	left: 8;
}

.l1 {	
	position: relative;
	left: 5px;
}

.l2 {	
	position: relative;
	left: 30px;
}

.l3 {	
	position: relative;
	left: 60px;
}

.l4 {	
	position: relative;
	left: 90px;
}

p {
	margin-top: 0.7em; /* Отступ сверху */
    margin-bottom: 0.7em; /* Отступ снизу */
}

.c1 {
	color: deepskyblue;
}
.c2 {
	color: #B77FDB;
}
.c3 {
	color: #5A960A;
}
.c4 {
	color: darkgrey;
}
article {
	margin-left: 200;
	height: 100%;	
	overflow-x: hidden;
	overflow-y: auto;
	color: aliceblue;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

textarea {
	height: 100px;
	width: 100px;
	background-color:#1A1A1A;
	border-color: #1A1A1A;
	color: aqua;
}

label {
	color: aliceblue;
}