body {
	background-color: #212122;
	color:#B3B3B3;	
	margin: 0;
	padding: 0;
	font-family: monospace;
	display: -webkit-flex;
	display: -moz-flex;
  	display: flex;
	flex: 1;
	-webkit-flex: 1;
}

#iconside {
	position: absolute;
	width: 40px;
	height: 600px;
	background-color: #2D2D2D;
}

#navside {
	position: absolute;
	margin-left: 40px;
	width: 150px;
	height: 600px;
	background-color: #212122;	
}

.icon {
	position: relative;
	top: 6px;
	left: 4px;
}

.l1 {	
	position: relative;
	//left: 5px;
	text-indent: 30px;
}

.l2 {	
	position: relative;
	//left: 40px;
	text-indent: 50px;
}

.l3 {	
	position: relative;
	//left: 60px;
	text-indent: 70px;
}

.l4 {	
	position: relative;
	//left: 90px;
	text-indent: 90px;
}

p {
	margin-top: 0.5em; /* Отступ сверху */
    margin-bottom: 0.5em; /* Отступ снизу */
	text-indent: 20px;
}

.c1 {
	color: deepskyblue;
}

.c2 {
	color: #B77FDB;
}

.c3 {
	color: #5A960A;
}

.c4 {
	color: darkgrey;
}

article {
	position: relative;
	//margin-left: px;
	//margin-top: 20px;
	//height: 200px;	
	overflow-x: hidden;
	overflow-y: auto;
	//color: beige;
	background-color: #2D2D2D;	
}

#tab {
	//margin-left: 190px;
	color: aliceblue;
	min-width: 150px;
	max-width: 170px;
	height: 25px;	
	background-color: #2D2D2D;
}

#greendot {
	height: 10px;
	position: relative;
	//margin-top: 8px;
}

#column {
	-webkit-flex: 1;
    flex: 1;
	margin-left: 190px;
}

#row {
	display: -webkit-flex;
	display: flex;
}

#stringNumber {
	width: 1.1em;
	color: darkgrey;
	text-align: right;
	background-color: #2D2D2D;	
}

#stringNumber p {
	text-indent: 0px;
}

.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink {
	0% {opacity: 1;	}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes blink {
	0% {opacity: 1;	}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

@-moz-keyframes blink {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}