body {
	background-color: #1A1A1A;
	color: #B3B3B3;
	margin: 0;
	padding: 0;
	font-family: monospace;
	min-height: 600px;
	height: 100%;
	min-width: 950px;
}

#iconside {
	position: absolute;
	width: 50px;
	min-height: 600px;
	height: 100%;
	background-color: #2D2D2D;
}

#navside {
	position: absolute;
	margin-left: 50px;
	width: 150px;
	min-height: 600px;
	height: 100%;
	background-color: #1A1A1A;
	font-size: 1.0em;
}

.icon {
	position: relative;
	margin-top: 12px;
	left: 8px;
}

article {
	background-color: #2D2D2D;
	font-size: 1.1em;
	//min-height: 600px;	
	//min-width: 400px;
	height: 100%;
	width: 100%;
}

#main p {
	margin-left: 0px;
}

#tab {
	//margin-left: 190px;
	color: #F3F3F3;
	max-width: 170px;
	height: 25px;
	background-color: #2D2D2D;
}

#tab span {
	vertical-align: text-top;
	margin-left: 20px;
}

#greendot {
	height: 8px;
	position: relative;
	margin-top: 10px;
	left: 80px;
}

#column {
	//-webkit-flex: 1;
	//flex: 1;
	margin-left: 200px;
	min-height: 600px;
	height: 100%;
}

#row {
	display: -webkit-flex;
	display: flex;
	min-height: 600px;
	height: 100%;
}

#stringNumber {
	width: 1.1em;
	color: darkgrey;
	text-align: right;
	background-color: #2D2D2D;
	font-size: 1.1em;
	min-height: 600px;
	height: 100%;
}

#stringNumber p {
	text-indent: 0px;
}

.l1 {
	text-indent: 30px;
}

.l2 {
	text-indent: 50px;
}

.l3 {
	text-indent: 70px;
}

.l4 {
	text-indent: 90px;
}

.navL1 {
	text-indent: 20px;
}

.navL2 {
	text-indent: 40px;
}

.navC1 {
	color: #FF4E4C;
}

.navC2 {
	color: #E8833A;
}

p {
	margin-top: 0.5em;
	/* Отступ сверху */
	margin-bottom: 0.5em;
	/* Отступ снизу */
	text-indent: 20px;
}

.c1 {
	color: #FF4E4C;
}

.c2 {
	color: #E8833A;
}

.c3 {
	color: #FFE79D;
}

.c4 {
	color: #F3F3F3;
}

.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes blink {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

@-moz-keyframes blink {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}